/* HeroDetailComponent's private CSS styles */
h2 {
    padding-top: 35px;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div {
    text-align: center;
    padding-bottom: 10px;
}

label {
    color: #435960;
    font-weight: bold;
    margin-right: 10px;
}

input {
    font-size: 1em;
    padding: .5rem;
}

button {
    margin-top: 20px;
    margin-right: 20px;
    //background-color: #eee;
    padding: 8px;
    border-radius: 9px;
    //border-color: #929597;
    font-size: 20px;
    //font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;   
}

/*button:hover {
    //background-color: #929597;
}*/

button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
}