<div class="hero-detail" *ngIf="hero">

    <h2 class="hero-detail_title">{{hero.name | uppercase}} Details</h2>
    <div class="hero-detail_id">id: {{hero.id}}</div>
    <div class="hero-detail_form">
        <label class="hero-detail_form_title" for="hero-name">Hero name: </label>
        <input class="hero-detail_form_name" id="hero-name" [(ngModel)]="hero.name" placeholder="name">
    </div>
    <button class="hero-detail_button" type="button" (click)="goBack()">go back</button>
    <button class="hero-detail_button" type="button" (click)="save()">save</button>
    
</div>
