.ng-valid[required], .ng-valid.required {
    border-left: 5px solid #42A948; /* green */
}
  
.ng-invalid:not(form) {
    border-left: 5px solid #a94442; /* red */
}

.form-group_name {
    padding-top: 5px;
    padding-bottom: 5px;
}

.form-control {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.hero-form_container_form_button, .hero-form_result_button {
    border-radius: 9px;
    margin-right: 20px;
}

.hero-form_container_form_button:hover {
    background-color: #42A948;
    color: white;
}

.col-xs-3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.col-xs-9 {
    color:olivedrab;
    padding-bottom: 10px;
}