/* AppComponent's private CSS styles */
h1 {
    margin-bottom: 0;
    color: white;
    margin-left: 10px;

}

nav a {
  padding: 1rem;
  text-decoration: none;
  margin-left: 10px;
  display: inline-block;    
}
  
nav a:hover {
  color: white;
}

nav a.active {
  background-color: black;
}