/* AppComponent's private CSS styles */
.display-6 {
  margin-bottom: 0;
  color: white;
  margin-left: 10px;

}

/*.navbar-brand d-flex align-items-center {
  padding: 1rem;
  text-decoration: none;
  margin-left: 10px;
  display: inline-block;   

}

.navbar-brand d-flex align-items-center:hover {
  color: white;

}

.navbar-brand d-flex align-items-center.active {
  background-color: black;
}*/