/* AppComponent's private CSS styles */
h1 {
    margin-bottom: 0;
    color: white;
  }

div {
  //background-color: #d0dee8;
}
  nav a {
    padding: 1rem;
    text-decoration: none;
    //margin-top: 10px;
    margin-left: 10px;
    display: inline-block;
    //background-color: #cfb6b6;
    //color: #aa4e6d;
    border-radius: 15px;
  }
  
  nav a:hover {
    color: white;
    background-color: #7e9db4;
  }
  nav a.active {
    background-color: black;
  }