<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/album/">  
    </head>

    <body>
        <header class="navbar navbar-dark bg-dark shadow-sm">
            <h1 class="display-6">{{title}}</h1>
        </header>

        <nav class="navbar navbar-dark bg-dark shadow-sm">                
            <a class="navbar-brand d-flex align-items-center" routerLink="/dashboard">Dashboard</a>
            <a class="navbar-brand d-flex align-items-center" routerLink="/heroes">Heroes</a>
        </nav>
            
        <main class="album py-5 bg-light">
            <router-outlet></router-outlet> 
        </main>

       <!-- <script src="../assets/dist/js/bootstrap.bundle.min.js"></script> -->

    </body>
</html>




