/* HeroesComponent's private CSS styles */
h2 {
    text-align: center;
    padding-bottom: 35px;
}

div {
    text-align: center;
}

.list-group {
    padding-left: 41%;
}

.heroes {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
}

.heroes li {
    display:flex;
    position: relative;
    cursor: pointer;
    text-align: left;
}

.add-button {
    margin-left: 20px;
    border-radius: 9px;
}

label {
    margin-right: 10px;
}

.heroes .badge {
    display: inline-block;
    font-size: small;
    color: white;
    background-color: #37383a;
    position: relative;
    text-align: right;
    margin-right: .8em; 
}