/* HeroSearch private styles */

label {
    display: block;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 4rem;
    margin-left: 25px;
    margin-bottom: .5rem;
    color: rgb(21, 20, 20);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

input {
    padding: .5rem;
    width:100%;
    max-width: 300px;
    box-sizing: border-box;
    display: block;
    //background-color: lightgray;
}

input:focus {
    outline: #c2c3c3 auto 1px;
}

li {
    list-style-type: none;
}

.search-result li a {
    border-bottom: 1px solid rgb(95, 89, 89);
    border-left: 1px solid rgb(95, 89, 89);
    border-right: 1px solid rgb(95, 89, 89);
    display: inline-block;
    width: 100%;
    max-width: 300px;
    padding: .5rem;
    box-sizing: border-box;
    text-decoration: none;
    color: rgb(48, 44, 44);
}

.search-result li a:hover {
    background-color: #4b575a;
    color: lightgrey;
}

ul.search-result {
    margin-top: 0;
    padding-left: 0;
}